{% extends "layout.html" %}
{% block content %}
    <div class ="content-section">
        <p style="text-align:center;font-size:200%;"><br> You don't permission to do that (403)  <br> </p>
        <p style="text-align:center">Please check your account and try again </p>
            <style>
                .text-center{
                    text-align: center;
                }
            </style>
            <div class="text-center">
                <img src="https://docs.litespeedtech.com/imgs/cp/cpanel/troubleshoot/403.png" alt="Website" style="width: 416px; height: 293px;">
            </div>
    </div>


{% endblock content %}