{% extends "layout.html" %}
{% block content %}
    <div class ="content-section">
        <p style="text-align:center;font-size:200%;">
           <br> Oops. Something went wrong (500) <br> </h1>
            <p style="text-align:center;">We're experiencing some trouble on our end. Please try again in the near future</p>
            <style>
                .text-center{
                    text-align: center;
                }
            </style>
            <div class="text-center">
                <img src="https://docs.litespeedtech.com/imgs/cp/cpanel/troubleshoot/403.png" alt="Website" style="width:310px;height:163px;">
            </div>
    </div>


{% endblock content %}