{% extends "layout.html" %}
{% block content %}
    <h1> About Us </h1>
    <!-- <form action="">
        <div class="about-section">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> About Us </legend>


            </fieldset>

        </div>

    </form> -->

    <section id="about-team">
        <div class="container">
            <div class="info">
                <h3> Hello, We're Hoshi Team </h3>
                <p> Chào mừng bạn đến với blog của chúng mình nhé. </p>
            
            </div>
            
            <div class="avatar" style= "text-align: center;">
                <img src="https://i.pinimg.com/originals/1e/3e/37/1e3e3738d81b9db4f6b6505b236a996a.gif" style="width:600px;height:300px;" >
            </div>
            <p> Nhóm chúng mình là sinh viên đến từ khoa Công nghệ thông tin trường Đại học Bách Khoa.
            </p>
            <p> Đây là nơi chúng mình thường xuyên chia sẻ về những câu chuyện nho nhỏ trong đời sống thường ngày của mình. Nhóm mình tin rằng, hạnh phúc đến từ những điều giản dị nhất. Hi vọng bạn sẽ tìm thấy được sự bình yên và một chút niềm vui khi đọc blog của chúng mình. Hihi =^-^=
            </p>
            <div class="avatar" style= "text-align: center;">
                <img src="https://thumbs.dreamstime.com/b/vector-illustration-isolated-white-background-three-young-cute-girls-hugging-funny-cartoon-character-152638267.jpg" alt="Website" style="width:600px;height:600px;margin-top: 10px;">
            </div>
        </div>

    </section>
  
{% endblock content %}