.border-bottom{
    font-weight: bold;
    color: #116530;
}

.ml-2{
    font-weight: bold;
    color: #116530;
}

.ml-2:hover{
    font-weight: bold;
    color: #116530;
}

.ml-2:active{
    font-weight: bold;
    color: #116530;
}


.text-muted{
    font-weight: bold;
    color: #116530;
}