body {
    background: #E8E8CC;
    color: #142F43;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #0B4619;
  }
  
  .bg-steel {
    background-color:#0B4619;
  }
  /* tên blog */
  .site-header .navbar-brand{
    color: #FFCC1D;
    font-weight: bold;

  }

  /* thanh header phải */
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #FFCC1D;
    font-weight: bold;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  /* thanh header trái */
  .site-header .navbar-nav .ff {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .ff:hover {
    color: #116530;
    font-weight: bold;
  }
  
  .site-header .navbar-nav .ff.active {
    font-weight: bold;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #0B4619;
    font-weight: bold;
  }
  
  a.article-title:hover {
    color: #b3b331;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #116530
  }
  
  .article-metadata a:hover {
    color: #142F43;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  