body {
    background: #E8E8CC;
    color: #142F43;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #0B4619;
  }
  
  .bg-steel {
    background-color:#0B4619;
  }
  /* tên blog */
  .site-header .navbar-brand{
    color: #FFCC1D;
    font-weight: bold;

  }

  /* thanh header phải */
  .site-header .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #FFCC1D;
    font-weight: bold;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  /* thanh header trái */
  .site-header .navbar-nav .ff {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .ff:hover {
    color: #116530;
    font-weight: bold;
  }
  
  .site-header .navbar-nav .ff.active {
    font-weight: bold;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #0B4619;
    font-weight: bold;
  }
  
  a.article-title:hover {
    color: #b3b331;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #116530
  }
  
  .article-metadata a:hover {
    color: #142F43;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  
  /* footer */
  footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #142F43;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

  /*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
  footer .container .noi-dung{
    margin-right: 30px;
  }
  footer  .container .noi-dung.about{
    width:40%;
  }
  footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #138496;
  }
  footer .container .noi-dung.about p{
    color: rgb(255, 241, 163);
  }
  
  /*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
  .social-icon{
    margin-top: 20px;
    display: flex;
  }
  .social-icon li {
    list-style: none;
  }
  .social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #3792d8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  .social-icon li a:hover{
    background: #138496;
  }
  .social-icon li a .fa{
    color: #fff;
    font-size: 20px;
  }
  .links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #138496;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 20px;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: rgb(255, 241, 163);
}
.contact .info li a{
    color: rgb(255, 241, 163);
    text-decoration: none;
}


.btn--primary {
  background: #3792d8;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 8px 24px;
  margin-top: 20px;
}
.btn--primary:hover {
  background: #138496;
}
.btn--primary:active {
  background: #1ec0da;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
  width: 130%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  border: 0;
  outline: 0;
  padding: 8px 4px;
}

@media  (max-width: 768px){
  footer{
      padding: 40px;
           }
  footer .container{
      flex-direction: column;
  }
  footer .container .noi-dung{
      margin-right: 0;
      margin-bottom: 40px;
  }
  footer .container, .noi-dung.about, .links, .contact{
      width: 100%;
  }
}